*{
    margin:0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    height: 1920px;
    background:url("/bg.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
}
:root{
    --naavbar-height:59px;

}
#navbar{
    display: flex;
    align-items: center;
    position:sticky;
    top:0px;
 color:coral solid;
}

#logo{
    
}
#logo img{

    height: 100px;
    margin-left:6x;
    
    font-size:10px;
 

}
.t{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color:yellowgreen;
}
#navbar ul{
    display:flex;
    margin: 0px 90px;
}
#navbar::before{
    content:"";
    background-color: rgb(0, 0, 0);
    position: absolute;
    height:100%;
    width:110%;
    z-index: -1;
   opacity: 0.2;
    top:0px;
    left:0px;
    

}

#navbar ul li 
{
    list-style: none;
    font-size:1.3rem;
    padding-left:100px;
    padding-right: 5;
    color:cadetblue;
    
}

#navbar ul li a:hover{
    
    display: block;
    padding:3px 22px ;
    border-radius: 20px;
    text-decoration: underline;
    color:antiquewhite;
    

}
#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #about {
    top: 300px;
    background-color: #04AA6D;
  }
  
  #blog {
    top: 380px;
    background-color: #2196F3;
  }
  
  #projects {  top: 440px;
  background-color: #f44336;
}

#contact {
  top: 520px;
  background-color: #555
}